{%extends "base.html"%}
{%block content%}
<div class="card">
<div class="card-body">
    <form enctype="multipart/form-data" action = "{%url 'krenger:home'%}" method="post">
        {%csrf_token%}
        <div class="mb-3">
            {{form.as_p}}
            <button type="submit" class="btn mb-3" required>Enter</button>
        </div>
        
    </form>
</div>
</div>

<script>
    //TODO: add mic function that records and saves as file
    //TODO: add button to form that calls mic function
</script>
{%endblock content%}